<!-- nav -->
<!-- <div style="background-image: url('../ass');"></div> -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      style="color:black"><b>Home</b></a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" style="color:black"><b>Users</b></a>
    <a class="nav-item nav-link" (click)="logout()" style="color:black"><b>Logout</b></a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
